.horizontalDivider {
  width: 100%;
  height: 1px;
  background-color: var(--dividerColor);
}

.verticalDivider {
  display: none;
}

@media (min-width: 990px) {
  .verticalDivider {
    display: block;
    width: 1px;
    margin: 2rem 0.5rem;

    background-color: var(--dividerColor);
  }
}
