.categoryWrapper {
  display: grid;
  min-width: 120px;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.mostRecentComment {
  font-size: 16px;
  font-weight: bold;
}

.postTitle {
  cursor: pointer;
  font-weight: bold;
}
